---
import Layout from "../layouts/Layout.astro";
import Splash from "../components/Splash.astro";
---

<Layout title="246Pixels">
  <main>
    <Splash />
  </main>
</Layout>

<style>
  .splash-bg {
    position: fixed;
    top: 0;
    margin: auto;
    pointer-events: none;
    z-index: -1;
    opacity: 0.2;
    filter: blur(10px);
    scale: 2;
    right: 0;
    left: 0;
    rotate: 60deg;
    transition: 500ms;
    width: 100%;
    zoom: 2;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    text-align: center;
    max-width: calc(100% - 2rem);
    color: var(--text-splash);
    font-size: 20px;
    line-height: 1.6;
    height: 94vh;
    display: grid;
    place-content: center;
  }
  svg {
    width: 100%;
    max-width: 420px;
  }
</style>
