---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="246px">
  <main>
    <svg
      width="420"
      height="143"
      viewBox="0 0 420 143"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M89.079 93V85.069L107.482 66.127C111.589 61.815 113.642 58.2217 113.642 55.347C113.642 53.2423 112.975 51.5483 111.64 50.265C110.357 48.9817 108.688 48.34 106.635 48.34C102.58 48.34 99.5767 50.4447 97.626 54.654L88.694 49.418C90.388 45.722 92.8263 42.8987 96.009 40.948C99.1917 38.9973 102.682 38.022 106.481 38.022C111.358 38.022 115.541 39.562 119.032 42.642C122.523 45.6707 124.268 49.7773 124.268 54.962C124.268 60.5573 121.316 66.3067 115.413 72.21L104.864 82.759H125.115V93H89.079ZM170.511 73.981V83.837H164.736V93H154.033V83.837H128.546V73.981L146.487 39.1H157.883L140.019 73.981H154.033V61.199H164.736V73.981H170.511ZM194.893 56.579C200.489 56.733 205.032 58.5553 208.522 62.046C212.013 65.4853 213.758 69.9 213.758 75.29C213.758 80.7827 211.936 85.3 208.291 88.842C204.647 92.3327 199.95 94.078 194.2 94.078C188.451 94.078 183.754 92.3327 180.109 88.842C176.516 85.3513 174.719 80.834 174.719 75.29C174.719 71.1833 175.772 67.5643 177.876 64.433L194.662 39.1H206.828L194.893 56.579ZM187.809 81.681C189.503 83.2723 191.634 84.068 194.2 84.068C196.767 84.068 198.897 83.2723 200.591 81.681C202.337 80.0897 203.209 77.9593 203.209 75.29C203.209 72.672 202.337 70.5673 200.591 68.976C198.897 67.3847 196.767 66.589 194.2 66.589C191.634 66.589 189.503 67.3847 187.809 68.976C186.115 70.516 185.268 72.6207 185.268 75.29C185.268 77.9593 186.115 80.0897 187.809 81.681ZM242.459 53.422C247.643 53.422 252.058 55.3983 255.703 59.351C259.399 63.2523 261.247 68.052 261.247 73.75C261.247 79.448 259.399 84.2733 255.703 88.226C252.058 92.1273 247.643 94.078 242.459 94.078C237.069 94.078 232.911 92.2043 229.985 88.457V108.4H220.052V54.5H229.985V59.043C232.911 55.2957 237.069 53.422 242.459 53.422ZM232.988 81.604C234.99 83.606 237.531 84.607 240.611 84.607C243.691 84.607 246.232 83.606 248.234 81.604C250.287 79.5507 251.314 76.9327 251.314 73.75C251.314 70.5673 250.287 67.975 248.234 65.973C246.232 63.9197 243.691 62.893 240.611 62.893C237.531 62.893 234.99 63.9197 232.988 65.973C230.986 67.975 229.985 70.5673 229.985 73.75C229.985 76.9327 230.986 79.5507 232.988 81.604ZM273.18 49.88C271.537 49.88 270.1 49.2897 268.868 48.109C267.687 46.877 267.097 45.4397 267.097 43.797C267.097 42.1543 267.687 40.717 268.868 39.485C270.1 38.253 271.537 37.637 273.18 37.637C274.874 37.637 276.311 38.253 277.492 39.485C278.724 40.717 279.34 42.1543 279.34 43.797C279.34 45.4397 278.724 46.877 277.492 48.109C276.311 49.2897 274.874 49.88 273.18 49.88ZM268.252 93V54.5H278.185V93H268.252ZM322.773 93H311.3L302.984 81.296L294.591 93H283.118L297.209 73.365L283.734 54.5H295.207L302.984 65.357L310.761 54.5H322.157L308.682 73.288L322.773 93ZM333.417 77.831C334.752 82.6563 338.371 85.069 344.274 85.069C348.073 85.069 350.948 83.7857 352.898 81.219L360.906 85.839C357.108 91.3317 351.512 94.078 344.12 94.078C337.755 94.078 332.647 92.153 328.797 88.303C324.947 84.453 323.022 79.602 323.022 73.75C323.022 67.9493 324.922 63.124 328.72 59.274C332.519 55.3727 337.396 53.422 343.35 53.422C348.997 53.422 353.643 55.3727 357.287 59.274C360.983 63.1753 362.831 68.0007 362.831 73.75C362.831 75.0333 362.703 76.3937 362.446 77.831H333.417ZM333.263 70.131H352.898C352.334 67.513 351.153 65.5623 349.356 64.279C347.611 62.9957 345.609 62.354 343.35 62.354C340.681 62.354 338.474 63.047 336.728 64.433C334.983 65.7677 333.828 67.667 333.263 70.131ZM369.766 93V36.79H379.699V93H369.766ZM397.652 65.434C397.652 66.4607 398.32 67.3077 399.654 67.975C401.04 68.591 402.709 69.1557 404.659 69.669C406.61 70.131 408.561 70.747 410.511 71.517C412.462 72.2357 414.105 73.4677 415.439 75.213C416.825 76.9583 417.518 79.14 417.518 81.758C417.518 85.7107 416.03 88.765 413.052 90.921C410.126 93.0257 406.456 94.078 402.041 94.078C394.136 94.078 388.746 91.0237 385.871 84.915L394.495 80.064C395.625 83.4007 398.14 85.069 402.041 85.069C405.583 85.069 407.354 83.9653 407.354 81.758C407.354 80.7313 406.661 79.91 405.275 79.294C403.941 78.6267 402.298 78.0363 400.347 77.523C398.397 77.0097 396.446 76.368 394.495 75.598C392.545 74.828 390.876 73.6217 389.49 71.979C388.156 70.285 387.488 68.1803 387.488 65.665C387.488 61.8663 388.874 58.889 391.646 56.733C394.47 54.5257 397.96 53.422 402.118 53.422C405.25 53.422 408.099 54.1407 410.665 55.578C413.232 56.964 415.26 58.966 416.748 61.584L408.278 66.204C407.046 63.586 404.993 62.277 402.118 62.277C400.835 62.277 399.757 62.5593 398.884 63.124C398.063 63.6887 397.652 64.4587 397.652 65.434Z"
        fill="#1C1C1C"></path>
      <path d="M20 37L34 51V65L20 51V37Z" fill="#06E68E"></path>
      <path d="M20 79L34 93V107L20 93V79Z" fill="#06E68E"></path>
      <path d="M48 65L62 79V93L48 79V65Z" fill="#06E68E"></path>
      <path d="M62 37L76 51V79L62 65V37Z" fill="#06E68E"></path>
      <rect x="6" y="37" width="14" height="14" fill="#743BFF"></rect>
      <rect x="6" y="79" width="14" height="14" fill="#743BFF"></rect>
      <rect x="34" y="37" width="14" height="14" fill="#743BFF"></rect>
      <rect x="48" y="37" width="14" height="14" fill="#743BFF"></rect>
      <rect x="48" y="51" width="14" height="14" fill="#743BFF"></rect>
      <rect x="6" y="65" width="42" height="14" fill="#743BFF"></rect>
    </svg>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    text-align: center;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    height: 94vh;
    display: grid;
    place-content: center;
  }
  svg {
    width: 100%;
    max-width: 420px;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
